{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- JQUERY 3.3.1 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- VALIDATE DEL JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<!-- IONICOSNS -->
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#error").hide();})</script>
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <h1>
                Modificacion datos de los artistas
            </h1>
        </div>
        <div class="container">
            
            <form method="POST" action="" id="formularioartista" class="formulario">
                {% csrf_token %}
                <div class="form-group">
                    {{ form | crispy }}
                </div>
                <div class="float-right">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Modificar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                </div>
                
                <div id="error" class="alert alert-danger" role="alert"></div>
            </form>
        
    </div>
        <div class="row">
            <div class="alert alert-success" role="alert">
                {{mensaje}}

            </div>
        </div>
        
    </div>
    
    
</body>
</html>