{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}

        <div class="container">
            
            <form method="POST" action="" id="formularioartista" class="formulario">
                {% csrf_token %}
                <div class="form-group">
                    {{ form | crispy }}
                </div>
                <div class="float-right">
                    <br>
                    <input type="submit" class="btn btn-danger" id="enviar" value="Modificar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                </div>
                
                <div id="error" class="alert alert-danger" role="alert"></div>
                <a href="{% url 'inicio' %}"> Inicio</a>
            </form>
        
    </div>
        <div class="row">
            <div class="alert alert-success" role="alert">
                {{mensaje}}

            </div>
        </div>
        
        {% endblock %}
    
    