 {% extends "core/base.html" %}
 {% load static %}
 {% block content %}
 <div class="container">
    <div class="row">
        <h1>Listado de Artistas</h1>

    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr><th scope="col">Nombre</th><th scope="col">Descripcion</th>
                <th scope="col"> Imagen</th>
                <th scope="col"> Opciones
                </th>
            </tr>

            </thead>  
            <tbody>
            {% for ar in artistas %}
            <tr>
            <td>{{ar.nombre}}</td>
            <td>{{ar.descripcion}}</td>
            <td>{{ar.img_artista}}</td>
            <td><a href="{% url 'form_mod' ar.nombre %}"> Modificar</a></td>
            <td><a href="{% url 'form_del' ar.nombre %}"> Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <a href="{% url 'formulario' %}"> Agregar Artistas</a>

    </div>
</div>

{% endblock %}
